@import './variables/colors';
@import './variables/mixins';

.testimonials {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: $second-background;
}



@media (min-width:50em) {
    .testimonials__container {
        padding: 7px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
        gap: 2rem;
    }
    .testi__h1 {
        display: flex;
        justify-content: center;
        margin-block: 1rem;
        font-size: 35px;
    }
    
    .test__card {
        border: 5px solid $main-button-fire;
        padding: 15px;
        margin: 1.3rem;
    }

    .test__card h2 {
        font-size: 30px;
    }

    .test__card p {
        margin-top: 2rem;
    }
    .test__card h3 {
        color: $card-dark;
        margin-top: 2rem;
        line-height: 25px;
    }
}

@media (max-width:50em) {

    .testimonials__container {
        padding: 10px;
        
    }

    .testi__h1 {
        display: flex;
        justify-content: center;
        margin-block: 1rem;
        font-size: 25px;
    }

    .test__card {
        border: 5px solid $nav-dark;
        padding: 15px;
        margin: 1rem;
    }

    .test__card h2 {
        font-size: 30px;
    }

    .test__card p {
        margin-top: 2rem;
    }
    .test__card h3 {
        margin-top: 2rem;
        font-size: 15px;
        line-height: 20px;
    }
}